/*  Core CSS
    Minimal styling for core photo gallery features 
*/

.aol-photo-gallery {
	position: relative;
	overflow: hidden;
}
.aol-photo-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
.aol-photo-gallery li {
	margin: 0;
	padding: 0;
	border: 0;
}
.aol-photo-gallery .button, 
.aol-photo-gallery-fullscreen .button {
	cursor: pointer;
	z-index: 5;
	display: inline-block;
}

.aol-photo-gallery h2 {
}
.aol-photo-gallery h2 a {
	text-decoration: none;
	color: inherit;
	cursor: inherit;
}
.aol-photo-gallery .description,
.aol-photo-gallery h2 {
	margin-right: 175px;
}
.aol-photo-gallery .description p {
}
.aol-photo-gallery .gallery {
	position: relative;
	clear: both;
    overflow: hidden;
}
.aol-photo-gallery .gallery .photos {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.aol-photo-gallery .gallery .photos li {
	background: transparent url(aol-loader.gif) no-repeat center center;
	position: absolute;
	visibility: hidden;
	cursor: pointer;
	overflow: hidden;
}
.aol-photo-gallery .photos a {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}
.aol-photo-gallery .captions {
/*	overflow: hidden; */
	position: relative;
	clear: both;
}
.aol-photo-gallery .captions li {
	position: absolute;
	visibility: hidden;
}
.aol-photo-gallery .captions li h3 {
}
.aol-photo-gallery .captions li p {
}
.aol-photo-gallery .show-thumbnails {
	float: right;
	cursor: pointer;
	position:relative;
	z-index: 5;
}
.aol-photo-gallery .thumbnails {
}
.aol-photo-gallery .thumbnails li {
	float: left;
	cursor: pointer;
	background: transparent url(aol-loader-small.gif) no-repeat center center;
}
.aol-photo-gallery .status {
	float: right;
}
.aol-photo-gallery .controls {
	float: right;
/*	position: relative; */
}
.aol-photo-gallery .controls li {
	float: left;
}
.aol-photo-gallery .sponsor {
	position: absolute;
	overflow: hidden;
	text-indent: -99em;
}
.aol-photo-gallery .show-fullscreen {
	float: right;
}
.aol-photo-gallery-fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}
.aol-photo-gallery-fullscreen .fullscreen {
/*	position: fixed; Artz: Fixed is cool but people can't scroll if it's too big. Consider auto height later. */
	position: absolute;
	padding-top: 25px;
/*	top: 25px; */
	left: 0;
	width: 100%;
}
.aol-photo-gallery-fullscreen .close {
	float: right;
}
.aol-photo-gallery-fullscreen h2 {
}
.aol-photo-gallery-fullscreen .aol-photo-gallery {
	padding: 0 25px;
	margin-right: 325px;
}
.aol-photo-gallery-fullscreen .aside {
	float: none;
	position: absolute;
	margin-top: 75px;
	right: 25px;
	top: 0;
}
.aol-photo-gallery-fullscreen .button {
}

/* Portrait Styles */

/* Width and height left in core styles to preserve functionality... see if we can abstract out later */
.aol-photo-gallery-portrait .gallery {
	padding-right: 280px;
	position: relative;
}
.aol-photo-gallery-portrait .captions {
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	height: 500px;
}
.aol-photo-gallery-portrait .captions li {
	width: 250px;
	height: 500px;
}

/* Carousel Styles */
.aol-photo-gallery .gallery .controls {
	float: right;
    position: static;
	z-index: 5;
}
.aol-photo-gallery .gallery .controls li {
	cursor: pointer;
	position: absolute;
}
.aol-photo-gallery .gallery .controls .back {
	left: 0;
	top: 0;
}
.aol-photo-gallery .gallery .controls .next {
	right: 0;
	top: 0;
}

.aol-photo-gallery-carousel .gallery .photos {
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
}
.aol-photo-gallery-carousel .gallery .photos li {
	position: static;
	float: left;
}

.aol-photo-gallery-carousel .gallery .photos li.active {
	cursor: default;
}

.aol-photo-gallery .gallery .photos li .credit i {
	float:left;
}

/*  Default Theme
    A basic theme for AOL Photo Galleries. Feel free to customize or replace
*/

.aol-photo-gallery {
	font-size: 15px;
	line-height: 24px;
}
.aol-photo-gallery ul {
}

.aol-photo-gallery li {
}

.aol-photo-gallery .button, 
.aol-photo-gallery-fullscreen .button {
	background-color: #6fc4fa;
    background-color: hsla(203, 93%, 71%); /* hsla equivalent for modern browsers */
    background-image:
        -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.0, hsla(0, 0%, 0%, 0)),
            color-stop(0.6, hsla(0, 0%, 100%, 0.2))
        );
    background-image: 
        -moz-linear-gradient(
            center bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 100%, 0.2) 60%,
        );
	font-size: 15px;
	line-height: 20px;
	padding: 8px 20px 7px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.5);

    -webkit-transition: 0.2s background-color;
}

.aol-photo-gallery .button:hover,
.aol-photo-gallery-fullscreen .button:hover,
.aol-photo-gallery .gallery .controls .button:hover {
	background-color: #b6e3ff;
    background-color: hsla(203, 100%, 86%);
}

.aol-photo-gallery .button:first-child {
        -moz-border-radius: 5px 0 0 5px;
     -webkit-border-radius: 5px 0 0 5px;
             border-radius: 5px 0 0 5px;
}

.aol-photo-gallery h2 {
	margin: 0 0 7px;
    padding: 1em 0 0;
	font-size: 22px;
}
.aol-photo-gallery h2 a {
}

.aol-photo-gallery .description,
.aol-photo-gallery h2 {
	margin-right: 175px;
}

.aol-photo-gallery .description p {
	line-height: 22px;
	margin-top: 8px;
	margin-bottom: 7px;
}

.aol-photo-gallery .gallery {
    background-color: hsla(0, 0%, 0%, 1);
    margin: 0 0 1em;
}

.aol-photo-gallery .captions {
}

.aol-photo-gallery .captions li h3 {
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 8px 0 7px;
}

.aol-photo-gallery .captions li p {
	margin-top: 0;
	line-height: 22px;
}

.aol-photo-gallery .show-thumbnails {
	background-color: #6fc4fa;
	padding: 8px 20px 7px;
	line-height: 20px;
}

.aol-photo-gallery .show-thumbnails:hover {
	background-color: #b6e3ff;
}

.aol-photo-gallery .thumbnails {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	clear: both;
	top: 0;
	background-color: #d5efff;
}

.aol-photo-gallery .thumbnails li {
	margin: 5px;
	background: transparent url(aol-loader-small.gif) no-repeat center center;
}

.aol-photo-gallery .status {
	line-height: 20px;
	padding: 8px 10px 7px;
}

.aol-photo-gallery .controls li:hover {
	background-color: #b6e3ff;
}

/* Fullscreen Styles */

.aol-photo-gallery .sponsor {
	right: 0;
	top: 0;
	width: 175px;
	height: 50px;
}

.aol-photo-gallery .show-fullscreen {
	float: right;
}
.aol-photo-gallery-fullscreen {
	color: #fff;
	background-color: #000;
}
.aol-photo-gallery-fullscreen .fullscreen {
    background-color: #000;
	padding-top: 25px;
}
.aol-photo-gallery-fullscreen .close {
	margin-right: 25px;

        -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
             border-radius: 5px;
    
}
.aol-photo-gallery-fullscreen h2 {
	color: #fff;
	line-height: 50px;
	margin: 0;
	padding: 0;
}
.aol-photo-gallery-fullscreen .aol-photo-gallery {
	padding: 0 25px;
	margin-right: 325px;
}
.aol-photo-gallery-fullscreen .aside {
	margin-top: 75px;
	right: 25px;
	top: 0;
	width: 300px;
}
.aol-photo-gallery-fullscreen .button {
	color: #000;
}

/* Portrait Styles */
.aol-photo-gallery-portrait .gallery {
	padding-right: 280px;
}

.aol-photo-gallery-portrait .captions {
    color: #fff;
    color: hsla(0, 0%, 100%, 0.8);
	right: 0;
	top: 0;
	width: 250px;
	height: 500px;
}
.aol-photo-gallery-portrait .captions li {
	width: 250px;
	height: 500px;
}


/* Carousel Styles */
.aol-photo-gallery .gallery .controls {
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.5);
}
.aol-photo-gallery .gallery .controls li {
	background-color: #6fc4fa;
	padding: 8px 15px 7px;
	line-height: 20px;
}

.aol-photo-gallery .gallery .controls .back {
	top: 135px;

       -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;


       -moz-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
    -webkit-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
            box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
}

.aol-photo-gallery .gallery .controls .next {
	top: 135px;

       -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;

       -moz-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
    -webkit-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
            box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
}
.aol-photo-gallery-carousel .gallery .photos li {
	margin-right: 5px;
	
	opacity: .33; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=33); /* IE lt 8 */
	-ms-filter: "alpha(opacity=33)"; /* IE 8 */
}

.aol-photo-gallery-carousel .gallery .photos li.active {
	opacity: 1; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=100); /* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
}

.aol-photo-gallery .gallery .photos li .credit i {
	color: #000;
	background-color: #fff;
	padding: 0 6px;
	font-size: 12px;	
	font-style: normal;
	
	opacity: .66; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=66); /* IE lt 8 */
	-ms-filter: "alpha(opacity=66)"; /* IE 8 */

        -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
             border-radius: 2px;
}
