/*  Core CSS
Minimal styling for core photo gallery features
 */

body {
  // Prevent weird text aliasing during animations
  // http://stackoverflow.com/questions/11589985/webkit-text-aliasing-gets-weird-during-css3-animations
  -webkit-backface-visibility: hidden;
}

.aol-slideshow {
  position: relative;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.aol-slideshow ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.aol-slideshow li {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
}
.aol-slideshow h2 a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}
.aol-slideshow .top-left,
.aol-slideshow .bottom-left {
  float: left;
  position: relative;
}
.aol-slideshow .top-left li ,
.aol-slideshow .bottom-left li {
  display: inline-block;
  cursor: pointer;
}
.aol-slideshow .top-center,
.aol-slideshow .bottom-center {
  text-align: center;
}
.aol-slideshow .top-center li,
.aol-slideshow .bottom-center li {
  display: inline-block;
  cursor: pointer;
}
.aol-slideshow .top-right,
.aol-slideshow .bottom-right {
  float: right;
  position: relative;
}
.aol-slideshow .top-right li,
.aol-slideshow .bottom-right li {
  display: inline-block;
  cursor: pointer;
}
.aol-slideshow .gallery {
  position: relative;
  clear: both;
  overflow: hidden;
}
.aol-slideshow .gallery .photos {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.aol-slideshow .gallery .photos li {
  background: transparent url(../images/aol-loader.gif) no-repeat center center;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  overflow: hidden;
}
.aol-slideshow .photos a {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
.aol-slideshow .captions {
  /*	overflow: hidden; */
  position: relative;
  clear: both;
}
.aol-slideshow .captions li.caption {
  position: absolute;
  visibility: hidden;

  // Put back list styles for html in captions
  ul {
    list-style-type: circle;
  }
}
.aol-slideshow .thumbnails li {
  float: left;
  cursor: pointer;
  background: transparent url(../images/aol-loader-small.gif) no-repeat center center;
}
.aol-slideshow .sponsor {
  float: right;
}
.aol-slideshow-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
  display: none;
  background-color: #000;
}
.aol-slideshow-fullscreen .fullscreen {
  /*	position: fixed; Artz: Fixed is cool but people can't scroll if it's too big. Consider auto height later. */
  overflow: hidden;
  position: absolute;
  padding-top: 25px;
  /*	top: 25px; */
  left: 0;
  width: 100%;
}
.aol-slideshow-fullscreen .close-button {
  height: auto;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.aol-slideshow-fullscreen .thumbnail-container {
  overflow: hidden;
  padding: 0 25px;
}
.aol-slideshow-fullscreen .thumbnail-container-inner {
  overflow: hidden;
}

.aol-slideshow-fullscreen h2 {
}
.aol-slideshow-fullscreen .aol-slideshow {
  padding: 0 25px;
  margin-right: 325px;
}
.aol-slideshow-fullscreen .aside {
  float: none;
  position: absolute;
  margin-top: 75px;
  right: 25px;
  top: 0;
}
/* Portrait Styles */

/* Width and height left in core styles to preserve functionality... see if we can abstract out later */
.aol-slideshow-portrait .gallery {
  padding-right: 280px;
  position: relative;
}
.aol-slideshow-portrait .captions {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 500px;
}
.aol-slideshow-portrait .captions li.caption {
  width: 250px;
  height: 500px;
}

/* Carousel Styles */
.aol-slideshow-carousel .gallery .photos {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
.aol-slideshow-carousel .gallery .photos li {
  position: static;
  float: left;
}

.aol-slideshow-carousel .gallery .photos li.active {
  cursor: default;
}

.aol-slideshow .gallery .photos li .credit i {
  float:left;
}

/* Galleries */
/*
.aol-photo-galleries ul {
padding: 0;
display: table;
}

.aol-photo-galleries li.start {
margin-left: 0;
}

.aol-photo-galleries li {
float: left;
list-style: none;
margin-left: 20px;
width: 186px;
}

.aol-photo-galleries li a {
border: 2px solid #333;
display: block;
}

.aol-photo-galleries li span {
position: relative;
top: 5px;
left: 6px;
border: 2px solid #333;
display: block;
padding: 5px;
background: #fff;
}

.aol-photo-galleries li p a {
border: 0;
display: inline;
}

.aol-photo-galleries li img {
display: block;
}
 */
.aol-slideshow .wallpaper-button {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}
.aol-slideshow .wallpaper-button ul {
  display: none;
  position: absolute;
  margin: 0;
  z-index: 10;
}
.aol-slideshow .wallpaper-button ul li {
  display: block;
}
