/*
	Default Theme
    A basic theme for AOL Photo Galleries. Feel free to customize or replace
*/

/*
	background-color: #6fc4fa;
	padding: 8px 20px 7px;
	line-height: 20px;

.aol-photo-gallery .controls li:hover {
	background-color: #b6e3ff;
}

*/

.aol-photo-gallery {
	font-size: 15px;
	line-height: 24px;
}
.aol-photo-gallery .top-center li,
.aol-photo-gallery .bottom-center li {
	font-size: 15px;
	line-height: 20px;
	padding: 8px 16px 7px;
	margin: 10px 0;
}

.aol-photo-gallery .top-left li,
.aol-photo-gallery .bottom-left li,
.aol-photo-gallery .top-right li,
.aol-photo-gallery .bottom-right li,
.aol-photo-gallery-fullscreen .close-button {
	color: #000;
	background: #6fc4fa;
    background: hsl(203, 93%, 71%);
    background-image:
        -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.0, hsla(0, 0%, 0%, 0)),
            color-stop(0.6, hsla(0, 0%, 100%, 0.2))
        );
    background-image:
        -moz-linear-gradient(
            center bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 100%, 0.2) 60%
        );

	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	padding: 8px 16px 7px;
	margin: 10px 0;
    text-shadow: 1px 1px 0 hsla(0, 0%, 100%, .6);

    -webkit-transition: 0.3s background-color;

        -moz-border-radius: 0;
     -webkit-border-radius: 0;
             border-radius: 0;
}

.aol-photo-gallery .top-left li:last-child,
.aol-photo-gallery .bottom-left li:last-child {
		-moz-border-radius: 0 5px 5px 0;
 -webkit-border-radius: 0 5px 5px 0;
		 border-radius: 0 5px 5px 0;

}
.aol-photo-gallery .top-right li:first-child,
.aol-photo-gallery .bottom-right li:first-child {
		-moz-border-radius: 5px 0 0 5px;
 -webkit-border-radius: 5px 0 0 5px;
		 border-radius: 5px 0 0 5px;

}

.aol-photo-gallery > .top-left li:hover,
.aol-photo-gallery > .bottom-left li:hover,
.aol-photo-gallery > .top-right li:hover,
.aol-photo-gallery > .bottom-right li:hover,
.aol-photo-gallery-fullscreen .close-button:hover {
	background-color: #b6e3ff;
}
/*
.aol-photo-gallery .button:hover,
.aol-photo-gallery-fullscreen .button:hover,
.aol-photo-gallery .gallery .controls .button:hover {
	background-color: #b6e3ff;
}

.aol-photo-gallery .button:first-child {
        -moz-border-radius: 5px 0 0 5px;
     -webkit-border-radius: 5px 0 0 5px;
             border-radius: 5px 0 0 5px;
}
*/
.aol-photo-gallery h2 {
	margin: 0 0 7px;
    padding: 0;
	font-size: 22px;
	line-height: 35px;
}
.aol-photo-gallery h2 a {
}

.aol-photo-gallery .description,
.aol-photo-gallery h2 {
	margin-right: 145px;
}

.aol-photo-gallery .description p {
	line-height: 22px;
	margin-top: 8px;
	margin-bottom: 7px;
}

.aol-photo-gallery .gallery {
    background: #000;
    background: hsla(0, 0%, 0%, 1);
	clear: both;
}

.aol-photo-gallery .captions {
}
.aol-photo-gallery .captions .credit {
	top: -29px;
}

.aol-photo-gallery .captions li h3 {
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 8px 0 7px;
}

.aol-photo-gallery .captions li p {
	margin-top: 0;
	line-height: 22px;
}

.aol-photo-gallery .show-thumbnails:hover {
	background-color: #b6e3ff;
}

.aol-photo-gallery .thumbnails {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	clear: both;
	top: 0;
	background-color: #d5efff;
}

.aol-photo-gallery .thumbnails li {
	margin: 2px 3px;
	padding: 2px;
	border: 1px solid white;
	background: transparent url(../images/aol-loader-small.gif) no-repeat center center;
}
.aol-photo-gallery .thumbnails li.active {
	border-color: #333;
}


/* Fullscreen Styles */

.aol-photo-gallery .sponsor {
	width: auto;
	height: 35px;
}

.aol-photo-gallery .show-fullscreen {
	float: right;
}
.aol-photo-gallery-fullscreen {
	color: #000;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.85);
	text-align: center;
}
.aol-photo-gallery-fullscreen .fullscreen {
	position: relative;
	top: 50% !important;
    background-color: #FFF;
	width: 901px;
	height: 517px;
	padding: 25px 35px;
	text-align: left;
	margin: -275px auto 0 auto;
}
.aol-photo-gallery-fullscreen .close-button {
	display: block;
	height: 46px;
	width: 47px;
	cursor: pointer;
	background: url('../images/homesessive_sprite.png') no-repeat 0 -73px;
	margin: {
		top: -75px;
		right: -58px;
		left: 0;
		bottom: 0;
	}
	padding: 0;
}
.aol-photo-gallery-fullscreen .close-button b {
	display: none;
}
.aol-photo-gallery-fullscreen .close-button:hover {
	background-color: transparent;
	background-position: -47px -73px;
}
.aol-photo-gallery-fullscreen h2 {
	color: #000;
	/*line-height: 50px;*/
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: bold;
	float: left;
}
.aol-photo-gallery-fullscreen .aside h2 {
	position: absolute;
	top: 0;
	line-height: inherit;
	margin-left: -600px;
	width: 576px;
}
.aol-photo-gallery-fullscreen .aside h2 a {
	color: black;
	text-decoration: none;
}
.aol-photo-gallery-fullscreen .aol-photo-gallery {
	padding: 0;
	margin-right: 325px;
}
.aol-photo-gallery-fullscreen .aside {
	margin-top: 25px;
	right: 25px;
	top: 0;
	width: 310px;
	height: 517px;
}
.aol-photo-gallery-fullscreen .description {
	display: none;
}
.aol-photo-gallery-fullscreen #aol-share-bar {
	margin-left: 40px;
}
.aol-photo-gallery-fullscreen .captions {
	position: relative;
	clear: both;
	list-style: none;
	margin: 20px 0 1em 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5em;
	border-top: 1px solid #F0F0E1;
}
.aol-photo-gallery-fullscreen .captions li {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
}
.aol-photo-gallery-fullscreen .captions li h3 {
    color: #000;
    font-weight: bold;
    margin: 0.5em 0 0 0;
}
.aol-photo-gallery-fullscreen .captions li p {
	margin-top: 0;
}
.aol-photo-gallery-fullscreen .captions li .credit {
	margin-top: 1em;
}
.aol-photo-gallery-fullscreen .thumbnails {
	background-color: transparent;
	margin-left: -3px;
}
.aol-photo-gallery-fullscreen .thumbnails li {
	
}
.aol-photo-gallery-fullscreen .thumbnail-container {
	padding: 0 26px;
}
.aol-photo-gallery-fullscreen .thumbnail-prev,
.aol-photo-gallery-fullscreen .thumbnail-next {
	margin-top: -53px;
	width: 19px;
	height: 20px;
	display: block;
	background: url('../images/homesessive_sprite.png') no-repeat -97px -80px;
	text-indent: -99999px;
	cursor: pointer;
	position: relative;
}
.aol-photo-gallery-fullscreen .thumbnail-prev {
	float: left;
	margin-left: -26px;
	background-position: -97px -80px;
}
.aol-photo-gallery-fullscreen .thumbnail-next {
	float: right;
	margin-right: -26px;
	background-position: -97px -100px
}
.aol-photo-gallery-fullscreen .gallery {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
.aol-photo-gallery-fullscreen #aol-photo-gallery-ad1 {
	position: absolute;
	bottom: 0;
}
.aol-photo-gallery-fullscreen .bottom-center {
	clear: both;
}
.aol-photo-gallery-fullscreen .bottom-center .back-button,
.aol-photo-gallery-fullscreen .bottom-center .next-button {
	position: relative;
	height: 43px;
	width: 35px;
	padding: 0;
	margin: -200px 0 0 0;
	background: url('../images/homesessive_sprite.png') no-repeat -121px -75px;
	text-indent: -99999px;
	z-index: 1;
}
.aol-photo-gallery-fullscreen .bottom-center .back-button {
	float: left;
	left: 7px;
	background-position: -121px -75px;
}
.aol-photo-gallery-fullscreen .bottom-center .next-button {
	float: right;
	right: 7px;
	background-position: -157px -74px;
}
.aol-photo-gallery-fullscreen .aol-photo-gallery .top-right {
	margin: 10px 0 0 0;
}
.aol-photo-gallery-fullscreen .top-right .status {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	color: #BC7CAC;
	letter-spacing:	1px;
	text-shadow: none;
}
.aol-photo-gallery-fullscreen .top-right .status:hover {
	background-color: transparent;
}

/* Portrait Styles */
.aol-photo-gallery-portrait .gallery {
	padding-right: 280px;
}

.aol-photo-gallery-portrait .captions {
    color: #fff;
    margin-top: 0;
	right: 0;
	top: 0;
	width: 250px;
	height: 500px;
}
.aol-photo-gallery-portrait .captions li {
	width: 250px;
	height: 500px;
}

/* Carousel Styles */
.aol-photo-gallery-carousel .gallery .photos li {
	margin-right: 5px;

	opacity: .40; /* Standard: FF gt 1.5, Opera, Safari */
/*	filter: alpha(opacity=33); /* IE lt 8 */
/*	-ms-filter: "alpha(opacity=33)"; /* IE 8 */

	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}

.aol-photo-gallery-carousel .gallery .photos li.active {
	opacity: 1; /* Standard: FF gt 1.5, Opera, Safari */
/*	filter: alpha(opacity=100); /* IE lt 8 */
/*	-ms-filter: "alpha(opacity=100)"; /* IE 8 */

	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=0)";
}

.aol-photo-gallery .gallery .photos li .credit i {
	color: #000;
	background-color: #fff;
	padding: 0 6px;
	font-size: 12px;
	font-style: normal;

	opacity: .66; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=66); /* IE lt 8 */
	-ms-filter: "alpha(opacity=66)"; /* IE 8 */

        -moz-border-radius: 0 0 3px 0;
     -webkit-border-radius: 0 0 3px 0;
             border-radius: 0 0 3px 0;
}

.aol-photo-gallery .wallpaper-button ul {
	background-color: #b6e3ff;
	width: 169px;
	top: 35px;
	left: 0;
	padding: 5px;
	padding-top: 0;
        -moz-border-radius: 0 0 0 5px;
     -webkit-border-radius: 0 0 0 5px;
             border-radius: 0 0 0 5px;
}

.aol-photo-gallery .top-left .wallpaper-button ul,
.aol-photo-gallery .bottom-left .wallpaper-button ul {
        -moz-border-radius: 0 0 5px 0;
     -webkit-border-radius: 0 0 5px 0;
             border-radius: 0 0 5px 0;
}

/*.aol-photo-gallery .wallpaper li {
	padding: 4px 0;
	text-align: center;
    -webkit-transition: 0.3s background-color;
}
.aol-photo-gallery .wallpaper li:hover {
	background-color: #6ec3ff;
}*/
.aol-photo-gallery .wallpaper-button ul li,
.aol-photo-gallery .wallpaper-button ul li:first-child {
	display: block;
	background: transparent;
	font-weight: normal;
	padding: 4px 0;
	text-align: center;
	margin: 0;
	font-size: 14px;

    -webkit-transition: 0.3s background-color;

        -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
             border-radius: 3px;
}
.aol-photo-gallery .wallpaper-button ul li:hover {
	background-color: #6ec3ff;
}

.aol-photo-gallery .top-right {
	margin-top: -55px;
}

/*
.aol-photo-gallery .captions .credit {
	position: absolute;
	top: -20px;
}
*/
