/*  Core CSS
Minimal styling for core photo gallery features
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\000035}}
body {
  -webkit-backface-visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000311}}
.aol-slideshow {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000320}}
.aol-slideshow ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000326}}
.aol-slideshow li {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000332}}
.aol-slideshow h2 a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000338}}
.aol-slideshow .top-left,
.aol-slideshow .bottom-left {
  float: left;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000343}}
.aol-slideshow .top-left li,
.aol-slideshow .bottom-left li {
  display: inline-block;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000348}}
.aol-slideshow .top-center,
.aol-slideshow .bottom-center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000352}}
.aol-slideshow .top-center li,
.aol-slideshow .bottom-center li {
  display: inline-block;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000357}}
.aol-slideshow .top-right,
.aol-slideshow .bottom-right {
  float: right;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000362}}
.aol-slideshow .top-right li,
.aol-slideshow .bottom-right li {
  display: inline-block;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000366}}
.aol-slideshow .gallery {
  position: relative;
  clear: both;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000371}}
.aol-slideshow .gallery .photos {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000376}}
.aol-slideshow .gallery .photos li {
  background: transparent url(../images/aol-loader.gif) no-repeat center center;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000383}}
.aol-slideshow .photos a {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000392}}
.aol-slideshow .captions {
  /*	overflow: hidden; */
  position: relative;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\0000397}}
.aol-slideshow .captions li {
  position: absolute;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003101}}
.aol-slideshow .thumbnails li {
  float: left;
  cursor: pointer;
  background: transparent url(../images/aol-loader-small.gif) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003106}}
.aol-slideshow .sponsor {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003109}}
.aol-slideshow-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
  display: none;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003117}}
.aol-slideshow-fullscreen .fullscreen {
  /*	position: fixed; Artz: Fixed is cool but people can't scroll if it's too big. Consider auto height later. */
  position: absolute;
  padding-top: 25px;
  /*	top: 25px; */
  left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003125}}
.aol-slideshow-fullscreen .close-button {
  height: auto;
  position: absolute;
  right: 0;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003131}}
.aol-slideshow-fullscreen .thumbnail-container {
  overflow: hidden;
  padding: 0 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003135}}
.aol-slideshow-fullscreen .thumbnail-container-inner {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003141}}
.aol-slideshow-fullscreen .aol-slideshow {
  padding: 0 25px;
  margin-right: 325px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003145}}
.aol-slideshow-fullscreen .aside {
  float: none;
  position: absolute;
  margin-top: 75px;
  right: 25px;
  top: 0;
}

/* Portrait Styles */
/* Width and height left in core styles to preserve functionality... see if we can abstract out later */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003155}}
.aol-slideshow-portrait .gallery {
  padding-right: 280px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003159}}
.aol-slideshow-portrait .captions {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003166}}
.aol-slideshow-portrait .captions li {
  width: 250px;
  height: 500px;
}

/* Carousel Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003172}}
.aol-slideshow-carousel .gallery .photos {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003178}}
.aol-slideshow-carousel .gallery .photos li {
  position: static;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003183}}
.aol-slideshow-carousel .gallery .photos li.active {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003187}}
.aol-slideshow .gallery .photos li .credit i {
  float: left;
}

/* Galleries */
/*
.aol-photo-galleries ul {
padding: 0;
display: table;
}

.aol-photo-galleries li.start {
margin-left: 0;
}

.aol-photo-galleries li {
float: left;
list-style: none;
margin-left: 20px;
width: 186px;
}

.aol-photo-galleries li a {
border: 2px solid #333;
display: block;
}

.aol-photo-galleries li span {
position: relative;
top: 5px;
left: 6px;
border: 2px solid #333;
display: block;
padding: 5px;
background: #fff;
}

.aol-photo-galleries li p a {
border: 0;
display: inline;
}

.aol-photo-galleries li img {
display: block;
}
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003233}}
.aol-slideshow .wallpaper-button {
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003238}}
.aol-slideshow .wallpaper-button ul {
  display: none;
  position: absolute;
  margin: 0;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-slideshow\/assets\/scss\/aol-slideshow\.scss}line{font-family:\00003244}}
.aol-slideshow .wallpaper-button ul li {
  display: block;
}
